<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Number of Garments</th>
      <th class="text-center">Services</th>
      <th class="text-center">Pickup Date</th>
      <th class="text-center">Pickup Address</th>
      <th class="text-center">Expected Delivery Date</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Pay Status</th>
      <th class="text-center">Order Status</th>
    </tr>
  </thead>
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>
        {{ order.noOfGarments }}
      </td>
      <td>
        {{ order.services }}
      </td>
      <td>{{ order.pickupDate }} . {{ order.pickupTimeslot }}</td>
      <td>{{ order.address }} {{ order.pincode }}</td>
      <td>
        {{ order.deliveryDate }}
      </td>
      <td>
        {{ order.amount }}
      </td>
      <td>
        {{ order.payStauts }}
      </td>
      <td>
        {{ order.orderStatus }}
      </td>
    </tr>
  </tbody>
</table>
