<div class="container1 card">
    <div class="card-header">
      <h2 class="card-title">Picked Up Orders</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Number of Garments</th>
            <th class="text-center">Services</th>
            <th class="text-center">Pickup Date</th>
            <th class="text-center">Pickup Address</th>
            <th class="text-center">Expected Delivery Date</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Pay Status</th>
            <th class="text-center">Order Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let order of pickupOrders">
            <td>
              {{ order.noOfGarments }}
            </td>
            <td>
              {{ order.services }}
            </td>
            <td>{{ order.pickupDate }} . {{ order.pickupTimeslot }}</td>
            <td>{{ order.address }} {{ order.pincode }}</td>
            <td>
              {{ order.deliveryDate }}
            </td>
            <td>
              {{ order.amount }}
            </td>
            <td>
              {{ order.payStauts }}
            </td>
            <td>
              {{ order.orderStatus }}
            </td>
            <td>
              <button class="btn btn-primary" (click)="orderComplete(order)">Mark Order Complete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    </div>
  </div>
