<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Admin Panel</div>
    </div>
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/admin/orders">Orders</a></li>
          <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/admin/users">Users</a></li>
          <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/admin/analytics">Analytics</a></li>
        </ul>
      </div>
  </div>
</nav>
