<div class="container2 card">
  <div class="card-header">
    <h2 class="card-title">Pending Orders</h2>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Number of Garments</th>
          <th class="text-center">Services</th>
          <th class="text-center">Pickup Date</th>
          <th class="text-center">Pickup Address</th>
          <th class="text-center">Expected Delivery Date</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Payment Status</th>
          <th class="text-center">Order Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let order of pendingOrders"
          [ngClass]="{ red: checkOrder(order) }"
        >
          <td class="text-center">
            {{ order.noOfGarments }}
          </td>
          <td class="text-center">
            {{ order.services }}
          </td>
          <td class="text-center">
            {{ order.pickupDate }} . {{ order.pickupTimeslot }}
          </td>
          <td class="text-center">{{ order.address }} {{ order.pincode }}</td>
          <td class="text-center">
            {{ order.deliveryDate }}
          </td>
          <td class="text-center">
            {{ order.amount }}
          </td>
          <td class="text-center">
            {{ order.payStauts }}
          </td>
          <td class="text-center">
            {{ order.orderStatus }}
          </td>
          <td class="text-center">
            <div class="btn-group" appDropdown>
              <button class="btn btn-primary dropdown-toggle" type="button">
                Manage <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a style="cursor: pointer;" (click)="orderPickup(order)">Order Picked up</a>
                </li>
                <li><a style="cursor: pointer;">Cancel Order</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  </div>
</div>
